body {
font: 15px/1.5 Arial,Helvetica,sans-serif;
padding:0;
margin:0;
background-color:#f4f4f4;
}

/* my standards */
.container{
width:80%;
margin:auto;
overflow:hidden;
}
ul{
margin:0;
padding:0;
}

.button_1{
height:38px;
background:#32CD32;
border:0;
padding-left:20px;
padding-right:20px;
color:#ffffff;
}

.button_3{
float:right;
height:40px;
background:#32CD32;
border:0;
border-radius:200px;
padding-left:100px;
padding-right:100px;
color:#ffffff;
}

.button_2{
height:30px;
background:	#006400;
border: solid 1px;
border-radius:2200px;
padding-left:15px;
padding-right:15px;
color:#ffffff;
cursor:pointer;
}

.button_2:hover{
  color:#4CAF50;
}

/*Button Groups for Page*/
.btn-group .button {
  background-color: #4CAF50;
  border: 1px solid green;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float:left;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

.btn-group .button:hover {
  background-color: #249821;
}

.btn-group{
  padding: 0px 0px 20px 280px;
}
/*Secondary Navigation Bar*/
.open-slide{
  float:left;
  margin-right: 10px;
}

.side-nav{
  height:90%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#239B56;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.3s;
}

.side-nav a{
  padding:10px 10px 10px 20px;
  text-decoration:none;
  font-size:15px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color: yellow;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  bottom:0;
  font-size:20px;
  margin-left:50px;
}

.lec h3{
  text-decoration: none;
  text-align:left;
  font-size: 20px;
  color:#fff;
  padding: 10px;
}

.lec ul li a {
  text-decoration: none;
  font-size: 10px;
  color:#fff;
  margin-left: 10px;
  margin-right:10px;
  line-height: 10px;
  padding:10px;
  border-bottom: 1px solid #fff;
}

.lec ul li a:hover{
  color:yellow;
}

.submenu-1{
  display:none;
  padding-left:0;
}
.submenu-1 ul li, .submenu-x ul li{
  list-style: none;
}

.targethover:hover .submenu-1{
	 position: absolute;
	 display: block;
   margin-top: -30px;
	 margin-left: 88px;
	 background:#239B56;
}


.fa-angle-right{
	margin-left:5px;
}
.submenu-x{
  display:none;
}

.hoverexam:hover .submenu-x{
	 position:absolute;
	 display: block;

	 background:#239B56;
}

.dark{
padding:15px;
background:#35424a;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}
.dark p{
  text-align: justify;
}

/*Table format*/
.discov{
border-collapse: collapse;
width: 80%;
margin-left:auto;
margin-right:auto;
}
th, td {
padding: 10px;
text-align: justify;
border-bottom: 1px solid #000000;
}

tr:hover {
background-color:#2BEEEC;
}

.balance{
border-collapse: collapse;
width: 80%;
margin-left:auto;
margin-right:auto;
}

.icetable{
border-collapse: collapse;
width: 50%;
margin-left:auto;
margin-right:auto;
}

/*grid styling*/
#examlayout{
  display:grid;
  height: 200vh;
  grid-template-columns: 20fr;
  grid-template-rows: 50fr 20fr;
  grid-template-areas:
  "examain"
  "bottom";
}
#examain{
  grid-area:examain;
  transition:margin-left 1s;
  padding:20px;
  color:#000000;
  padding-top:100px;
}

.bottom{
  grid-area:bottom;
}
#gridcontainer{
display: grid;
height: 100vh;
grid-template-columns:20fr 5fr;
grid-template-rows: 30fr 60fr 30fr 10fr;
grid-template-areas:
" content1 content2"
" main main"
" content3 content4"
"pageop pageop";
}

#main{
grid-area:main;
transition:margin-left 1s;
padding:20px;
width:100%;
}

#content1{
grid-area:content1;
transition:margin-left 1s;
padding:20px;
color:#000000;
padding-top:100px;
}
#content2{
grid-area:content2;
transition:margin-left 1s;
padding-top:100px;
}
#content3{
grid-area:content3;
}
#content4{
grid-area:content4;
}
#content4 p{
  text-align:justify;
}

#pageop{
 transition:margin-left 1s;
 grid-area:pageop;
}

/*Display fractions*/
.frac {
 display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divide {
 display: -webkit-flex;
  display: flex;
  align-items: left;
  justify-content: left;
}
.maineq {
  display: table-cell;
  vertical-align: middle;
}

.Fraction {
    display: table-cell;
    text-align: center;
}
.Denominator{
    border-top: 1px solid #000;
    display: block;
}
.Fraction, .Numerator, .Denominator {
    padding: 0px 5px;
}

/*Nuclear Chem sub and sup*/

.nuke {
display: inline-flex;
flex-flow: column wrap;
justify-content: center;
align-items: flex-end;
height: 1.5em;
line-height: 1.3
}

.nuke > * {
font-variant: normal;
font-size: .75em;
line-height: 1;
}

.nuke>*:nth-child(3),
.nuke>*:nth-child(4) {
align-self: flex-start
}

/*Lecture Part*/

#content1 h3, #main h3, #content3 h3, #pageop h3{
text-align:left;
color:blue;
margin:20px;
line-height: 1px;
}

#main h4, #content3 h4, #pageop h4{
text-align:left;
color:#000;
margin-left:40px;
line-height: 1px;
}


#main ul li,#main p, #content1 ul li,#content1 p, #main table,
#content3 p, #pageop p{
list-style: none;
text-align: justify;
margin-left:30px;
line-height: 20px;
font-size: 15px;
font: Arial;
padding-right: 20px;
padding-left:10px;
}
#main ol li, #content3 ol li, #pageop ol li, #pageop ul li{
  text-align: justify;
  margin-left:50px;
  line-height: 20px;
  padding-right: 20px;
}

.chmstress{
border-collapse: collapse;
width: 60%;
margin-left:auto;
margin-right:auto;
}


.indent{
  padding-left: 45px;
  list-style:none;
}
.equation{
  text-align:center;
}
.centerme{
display: flex;
justify-content: center;
}
.caption{
text-align: center;
margin-top: 15px;
border: #000000 solid 1px;
background: #000000;
color:#ffffff;
border-radius: 10px;
}

.viewbutton{
  display: block;
  padding-left: 30px;
  padding-top: 10px;
}


.solanswers{
  text-align: justify;
  margin-left:30px;
  padding-left: 50px;
}
.periodic {
margin-left:100px;
padding:0px;
}
.periodic:hover{
background-color:skyblue;
}

.KaKb{
border-collapse: collapse;
width: 1000px;
margin-left:auto;
margin-right:auto;
float: none;
}
/*header section */
.logo {
width:100px;
margin-left: 10 20 10 20;
padding:10px;
float:left;
}

header {
background: #35424a;
color:#ffffff;
padding-top:30px;
min-height:70px;
width: 100%;
border-bottom:#228B22 3px solid;
position: fixed;
z-index: 1;
}

header a{
color:#ffffff;
text-decoration:none;
text-transform:uppercase;
font-size:16px;
}

header ul{
margin:0;
padding:0;
}

header li{
float:left;
display:inline;
padding:0 20px 0 20px;
}

header #branding{
float:left;
}

header #branding h1 {
margin:0;
}

header nav{
float:right;
margin-top:10px;
}

header .highlight, header .current a{
color:#228B22;
font-weight:bold;
}

header a:hover, header .fa:hover{
color:#228B22;
font-weight:bold;
}


/*Newsletter*/
#newsletter{
padding:10px;
color:#ffffff;
background:#228B22;
opacity: 90%;
}

#newsletter h1{
float:left;
}

#newsletter form{
float:right;
margin-top:10px;
}

#newsletter form button:hover, #courses form button:hover, #content4 form button:hover{
cursor:pointer;
color:#4169E1;
}

#lastbutton form button:hover{
cursor:pointer;

}



/*Paragraphs of statements */
.parjustify {
text-align:justify;
}



footer{
padding:20px;
margin-top:20px;
color:#ffffff;
background-color:#228B22;
}

/*Examination Layout*/
#examain h2{
  text-align: center;
}

.examdirection{
  text-align: center;
}

#choicecontents{
  width:80%;
  margin:20px auto;
  padding:25px;
}

.answerkey {
  padding-left: 150px;
  margin-right: auto;
}
/*Media Queries*/
@media(max-width: 768px){
header #branding,
header nav, header nav li,
 .discov,
 {
  float:none;
  text-align:justify;
  width:100%;
}
  .lec ul li a{
width:100%;
}
.centerimg{
  text-align:center;
}
#gridcontainer{
  display:contents;
  overflow-x: hidden;
  grid-template-columns:10fr;
  grid-template-rows: 30fr 30fr 30fr 30fr 30fr;
  grid-template-areas: "content1" "content2" "main" "content3" "content4" "pageop";
}

#examlayout{
  display: contents;
  overflow-x: hidden;
  grid-template-columns: 10fr;
  grid-template-rows: 10fr 0.5fr;
  grid-template-areas: "examain" "bottom";
}
  #content1 h3, #main h3 {
      display:inline-flex;
      padding-top: 80px;
  }

header{
padding-bottom:20px;
}

.btn-group{
    padding-bottom: 30px;
    padding-left: 180px;
    margin-bottom: 30px;
}

}
