body {
font: 15px/1.5 Arial,Helvetica,sans-serif;
padding:0;
margin:0;
background-color:#f4f4f4;
}

/* my standards */
.container{
width:80%;
margin:auto;
overflow:hidden;
}
ul{
margin:0;
padding:0;
}

.button_1{
height:38px;
background:#32CD32;
border:0;
padding-left:20px;
padding-right:20px;
color:#ffffff;
}

.button_3{
float:right;
height:40px;
background:#32CD32;
border:0;
border-radius:200px;
padding-left:100px;
padding-right:100px;
color:#ffffff;
}

.button_2{
height:30px;
background:	#006400;
border: solid 1px;
border-radius:2200px;
padding-left:15px;
padding-right:15px;
color:#ffffff;
}


.dark{
padding:15px;
background:#35424a;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}

/*Secondary NavigationBar*/
.lec h3{
text-decoration: none;
text-align:left;
font-size: 20px;
color:#fff;
padding: 10px;
}

.lec ul li a {
text-decoration: none;
font-size: 18px;
color:#fff;
margin-left: 10px;
margin-right:10px;
line-height: 20px;
padding:10px;
border-bottom: 1px solid #fff;
display: block;
}

.lec ul li a:hover{
color:yellow;
}

.submenu-1{
display:none;
}
.submenu-1 ul li, .submenu-x ul li{
list-style: none;
}

.targethover:hover .submenu-1{
 position: absolute;
 display: block;
 margin-top: -42px;
 margin-left: 140px;
 background:#239B56;
}

.targethover-2:hover .submenu-2, .targethover-3:hover .submenu-3, .targethover-4:hover .submenu-4{
 position:absolute;
 display: block;
 width:250px;
 margin-top: -42px;
 margin-left: 100px;
 background:#239B56;
}
.fa-angle-right{
margin-left:5px;
}
.submenu-2, .submenu-3,.submenu-4,.submenu-x{
display:none;
}

.hoverexam:hover .submenu-x{
 position:absolute;
 display: block;
 margin-top: -42px;
 margin-left: 180px;
 background:#239B56;
}





/*header section */
.logo {
width:100px;
margin-left: 10 20 10 20;
padding:10px;
float:left;
}

.idealogo{
width:50px;
margin-left: 10 20 10 20;
padding:5px;
float:right;
}


header {
background: #35424a;
color:#ffffff;
padding-top:30px;
min-height:70px;
border-bottom:#228B22 3px solid;
}

header a{
color:#ffffff;
text-decoration:none;
text-transform:uppercase;
font-size:16px;
}

header ul{
margin:0;
padding:0;
}

header li{
float:left;
display:inline;
padding:0 20px 0 20px;
}

header #branding{
float:left;
}

header #branding h1 {
margin:0;
}

header nav{
float:right;
margin-top:10px;
}

header .highlight, header .current a{
color:#228B22;
font-weight:bold;
}

header a:hover, header .fa:hover{
color:#228B22;
font-weight:bold;
}

/* Showcourses */
#showcourses {
  min-height: 200px;
  background:url('../img/nature.jpg') no-repeat 0 -50px;
  background-size:cover;
  text-align:center;
  color:#ffffff;
  opacity:0.9;
}

#showcourses h1{
margin-top:100px;
font-size:30px;
margin-bottom:10px;
}
/*Showcase*/

#showcase{
min-height:300px;
background:url('../img/aurora.jpg') no-repeat 0 0;
text-align:center;
color:#ffffff;
opacity:0.8;
}

#showcase h1{
margin-top:100px;
font-size:50px;
margin-bottom:10px;
}

#showcase p{
font-size:15px;
}

/*Newsletter*/
#newsletter{
padding:10px;
color:#ffffff;
background:#228B22;
opacity: 90%;
}

#newsletter h1{
float:left;
}

#newsletter form{
float:right;
margin-top:10px;
}

#newsletter form button:hover, #courses form button:hover, #content4 form button:hover{
cursor:pointer;
color:#4169E1;
}

#lastbutton form button:hover{
cursor:pointer;

}

#newsletter input[type="email"]{
padding:4px;
height:25px;
width:250px;
}

/*Paragraphs of statements */
.parjustify {
text-align:justify;
}
.trivia h3{
line-height:none;
text-align:left;
color:#00FF00;
}

.trivia p{
font-size:14px;
text-align:justify;
}


/*BOXES AREA*/

#boxes {
margin-top:20px;
}

#boxes .box{
float:left;
text-align:center;
width:30%;
padding:10px;
}

#boxes .box img{
width:100px;
}

/*At the side*/
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .trivia input,aside#sidebar .trivia textarea{
width:90%;
padding:5px;
}
/*Article main-col*/
article#main-col{
float:left;
width:65%;
text-align: justify;
}

/*Courses*/
.coursetitle{
font: 22px/1.5 Arial;
border:#cccccc solid 1px;
border-radius:20px;
background-color:#228B22;
text-align:center;
max-width:250px;
padding:0;
margin:0;
color:#ffffff;
}

ul#courses li{
 list-style:none;
 padding:20px;
 border: #cccccc solid 1px;
 margin-bottom:5px;
 background:#e6e6e6;
}

/*Lecture Layout*/
.lecture1{
 padding:20px;
 border: #cccccc solid 1px;
 margin-bottom:5px;
 background:#e6e6e6;
 text-align:justify;
 min-width: 50%;
 float:left;
}

footer{
padding:20px;
margin-top:20px;
color:#ffffff;
background-color:#228B22;
text-align:center;
}


/*Media Queries*/
@media(max-width: 768px){
header #branding,
header nav, header nav li,
#newsletter h1,
#newsletter form, #main p, #main h3, #main ul li
#boxes .box, .discov,
article#main-col,
aside#sidebar {
  float:none;
  text-align:justify;
  width:100%;
}
  .lec ul li a{
width:100%;
}
.centerimg{
  text-align:center;
}
.gridcontainer{
  display:contents;
  overflow-x: hidden;
  grid-template-columns:10fr;
  grid-template-rows:10fr 30fr 30fr 30fr 30fr 30fr;
  grid-template-areas: "nav" "content1" "content2" "main" "content3" "content4" "pageop";
}

  #content1 h3, #main h3 {
      display:inline-flex;
  }

header{
padding-bottom:20px;
}
#showcase h1{
  margin-top:40px;
}

#newsletter button{
  display:block;
  width:100%;
}


#lastbutton form, .discov{
  width:100%;
  display: grid;
}

#newsletter form input[type="email"]{
  width:100px;
  margin-bottom:5px;
}
}
