body {
font: 15px/1.5 Arial,Helvetica,sans-serif;
padding:0;
margin:0;
background-color:#f4f4f4;
}

/* my standards */
.container{
width:80%;
margin:auto;
overflow:hidden;
}
ul{
margin:0;
padding:0;
}

.button_1{
height:38px;
background:#32CD32;
border:0;
padding-left:20px;
padding-right:20px;
color:#ffffff;
}

.button_3{
float:right;
height:40px;
background:#32CD32;
border:0;
border-radius:200px;
padding-left:100px;
padding-right:100px;
color:#ffffff;
}

.button_2{
height:30px;
background:	#006400;
border: solid 1px;
border-radius:2200px;
padding-left:15px;
padding-right:15px;
color:#ffffff;
}


.dark{
padding:15px;
background:#35424a;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}

/*pop up windows*/
.popup-bg1, .popup-bg2, .popup-bg3{
  width:100%;
  height:70%;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display:none;
}

.outlinegchm, .outlineinorg, .outlinephychm{
  width:500px;
  height:350px;
  background-color: #239B56;
  opacity:0.8;
  color:#ffffff;
  border-radius: 10px;
  text-align:justify;
  padding:20px;
  position:relative;
}
.close1, .close2, .close3{
  position:absolute;
  top:0;
  right:14px;
  font-size:40px;
  transform: rotate(45deg);
  cursor: pointer;
}

.close1:hover, .close2:hover{
  font-weight: bold;
}

.viewoutline{
    padding-bottom: 10px;
}
/*header section */
.logo {
width:100px;
margin-left: 10 20 10 20;
padding:10px;
float:left;
}

.idealogo{
width:50px;
margin-left: 10 20 10 20;
padding:5px;
float:right;
}


header {
background: #35424a;
color:#ffffff;
padding-top:30px;
min-height:70px;
border-bottom:#228B22 3px solid;
}

header a{
color:#ffffff;
text-decoration:none;
text-transform:uppercase;
font-size:16px;
}

header ul{
margin:0;
padding:0;
}

header li{
float:left;
display:inline;
padding:0 20px 0 20px;
}

header #branding{
float:left;
}

header #branding h1 {
margin:0;
}

header nav{
float:right;
margin-top:10px;
}

header .highlight, header .current a{
color:#228B22;
font-weight:bold;
}

header a:hover, header .fa:hover{
color:#228B22;
font-weight:bold;
}

/* Showcourses */
#showcourses {
  min-height: 200px;
  background:url('../img/nature.jpg') no-repeat 0 -50px;
  background-size:cover;
  text-align:center;
  color:#ffffff;
  opacity:0.9;
}

#showcourses h1{
margin-top:100px;
font-size:30px;
margin-bottom:10px;
}
/*Showcase*/

#showcase{
min-height:300px;
background:url('../img/aurora.jpg') no-repeat 0 0;
text-align:center;
color:#ffffff;
opacity:0.8;
}

#showcase h1{
margin-top:100px;
font-size:50px;
margin-bottom:10px;
}

#showcase p{
font-size:15px;
}

/*Newsletter*/
#newsletter{
padding:10px;
color:#ffffff;
background:#228B22;
opacity: 90%;
}

#newsletter h1{
float:left;
}

#newsletter form{
float:right;
margin-top:10px;
}

#newsletter form button:hover, #courses form button:hover, .viewoutline button:hover{
cursor:pointer;
color:#4169E1;
}



/*Paragraphs of statements */
.parjustify {
text-align:justify;
}
.trivia h3{
line-height:none;
text-align:left;
color:#00FF00;
}

.trivia p{
font-size:14px;
text-align:justify;
}


/*BOXES AREA*/

#boxes {
margin-top:20px;
}

#boxes .box{
float:left;
text-align:center;
width:30%;
padding:10px;
}

#boxes .box img{
width:100px;
}

/*At the side*/
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .trivia input,aside#sidebar .trivia textarea{
width:90%;
padding:5px;
}
/*Article main-col*/
article#main-col{
float:left;
width:65%;
text-align: justify;
}

/*Courses*/
.coursetitle{
font: 22px/1.5 Arial;
border:#cccccc solid 1px;
border-radius:20px;
background-color:#228B22;
text-align:center;
max-width:250px;
padding:0;
margin:0;
color:#ffffff;
}

ul#courses li{
 list-style:none;
 padding:20px;
 border: #cccccc solid 1px;
 margin-bottom:5px;
 background:#e6e6e6;
}

/*Lecture Layout*/
.lecture1{
 padding:20px;
 border: #cccccc solid 1px;
 margin-bottom:5px;
 background:#e6e6e6;
 text-align:justify;
 min-width: 50%;
 float:left;
}

footer{
padding:20px;
margin-top:20px;
color:#ffffff;
background-color:#228B22;
text-align:center;
}
/*button for pages*/
.btn-group .button {
  background-color: #4CAF50;
  border: 1px solid green;
  color: #ffffff;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float:right;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

.btn-group .button:hover {
  background-color: #249821;
}

.btn-group{
  padding: 0px 0px 20px 280px;
}

/*Media Queries*/
@media(max-width: 768px){
header #branding,
header nav, header nav li,
#newsletter h1,
#newsletter form, #main p, #main h3, #main ul li
#boxes .box, .discov,
article#main-col,
aside#sidebar {
  float:none;
  text-align:justify;
  width:100%;
}

.centerimg{
  text-align:center;
}

.btn-group{
    padding-bottom: 30px;
    padding-left: 300px;
    margin-bottom: 70px;
    text-align:center;
  
}

.btn-group .button{
  width:100%;
}
header{
padding-bottom:20px;
}
#showcase h1{
  margin-top:40px;
}

#newsletter button{
  display:block;
  width:100%;
}


 .discov{
  width:100%;
  display: grid;
}

#newsletter form input[type="email"]{
  width:100px;
  margin-bottom:5px;
}
}
